
<h1 class="tituloInfo">{{user.name}}</h1>
<h5 class="info"><b>Detalhe do livro:</b> {{user.detail}}</h5>
<h5 class="info"><b>Quantidade:</b> {{user.quantity}}<h5/>
<h5 class="info"><b>Categoria selecionada:</b> {{user.tipo}}<h5/>
<h5 class="info"><b>Meio de contato com o doador:</b> {{user.contact}}<h5/>
<h5 class="info"><b>Data/horário do cadastro:</b> {{user.createdAt}}<h5/>

